%h1 Listing comments

%table
  %thead
    %tr
      %th Message
      %th User
      %th Name
      %th Film
      %th Name_f
      %th
    
  %tbody
    - @comments.each do |comment| 
      %tr
        %td= comment.message 
        %td= comment.user_id 
        %td= comment.name
        %td= comment.film_id
        %td= comment.name_f 
        %td= link_to 'Show', comment
        %td= link_to 'Edit', edit_comment_path(comment)
        %td= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } 

%br

= link_to 'New Comment', new_comment_path
